.tableStats {
  width: 100%;
}

.titleComponent{
	width: 100%;
	color: var(--main-text-color);
	margin-bottom: 20px;
}

.competition h3 {
    text-decoration: underline;
    font-weight: 400;
    height: 23%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rowCompetition {
  font-weight: 400;
  height: 40px;
}

@media (min-width: 600px) {
  .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tableStats {
    width: 80%;
  }
}



