.palmares {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.palmares h2 {
    width: 100%;
    color: var(--color-hover-card);
}

.card {
    width: 70%;
    padding: 20px 0;
    min-height: 20vh;
    overflow: hidden;
    border: 2px solid var(--background-card-color);
    background: var(--background-card-color);
    border-radius: 6%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

.competition h3 {
    /* text-decoration: underline; */
    height: 23%;
    /* color: var(--background-card-color); */
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.competition div {
    height: 15%;
}

.competition {
    width: 47%;
    height: 20vh;
    /* border: 1px solid var(--main-text-color); */
    background: var(--background-card-color);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}

.name {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameValue {
    margin-right: 10px;
}



