.active {
	margin: 10px;
	width: 100%;
}

.notActive {
	display: none;
}

.table {
	min-width: 270px;
	width: 100%;
	margin: auto;
	border-spacing: 0 0;
	background-color: #fff;
}

.table thead {
	background: var(--background-site);
	border: 1px solid #000;
	color: #000;
	height: 40px;
}

.table tbody tr {
	font-style: italic;
}

.link {
	display: contents;
}

.link:hover {
	text-decoration: underline;
	color: var(--color-hover-card);
	font-weight: bold;
}

.headerTeam, .headerPlayer {
	padding-left: 15px;
	text-align: left;
	text-transform: uppercase;
}

.teamCase, .playerCase {
	padding: 5px 0;
	padding-left: 8px;
	text-align: left;
	display: flex;
	align-items: center;
}

.logoTeam, .imgPlayer {
	margin-right: 5px;
	width: 10%;
}

.imgPlayer {
	background: var(--color-hover-card);
}

.titlePage {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 40px;
}


.titlePage span {
	font-weight: 400;
	font-style: italic;
}

@media(min-width: 380px) {
	.table {
		min-width: 300px;
	}
}

@media(max-width: 600px) {
	.titlePage {
		font-size: 1.2rem;
	}
}

@media(min-width: 600px) {
	.table {
		min-width: 550px;
		width: 100%;
		font-size: 1.2rem;
	}

	.logoTeam {
		margin-right: 5px;
		height: 8%;
	}
}