.headerTeam {
  display: flex;
  margin: 0 0 20px;
  width: 100%;
}

.teamLogo {
  width: 33%;
  background-color: var(--background-card-color);
}

.teamName {
	font-size: 1.5rem;
  margin-bottom: 8px;
	display: block;
}

.teamDatasContainer {
  padding: 5px 0 0 15px;
  text-align: left;
}

.icon {
  display: inline-block;
  margin: 0 1px;
}

.W, .L, .D{
  padding: 6px;
  border-radius: 100%;
  background-color: var(--color-win);
}

.L {
  background-color: var(--color-lost);
}

.D {
  background-color: var(--color-draw);
}

@media (min-width: 433px) {
  .teamLogo {
    width: 22%;
  }
}
@media (min-width: 600px) {
  .teamLogo {
    width: 12%;
  }
  .teamName {
    font-size: 1.5rem;
  }
}