:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* --background-site: #D6DBDC; */
  --background-site: #060D2E;
  --main-text-color: #f5f5f5;
  --background-card-color: #151E52;
  --background-button-color: #151E52;

  /* --color-hover-card: #CE1124; */
  --color-hover-card: #28f1fe;
  /* --main-text-color: #000; */
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  max-width: 1200px;
  color: var(--main-text-color);
  background: var(--background-site);
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
