.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  flex-grow: 1;
}

.titlePage {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
}

.homeButton:hover, .button:hover {
  border-color: var(--color-hover-card);
  color: var(--color-hover-card);
}

.homeButton {
  height: 130px;
  margin-bottom: 30px;
  aspect-ratio: 2/1;
}

.active {
  border: 2px solid var(--main-text-color);
  color: var(--color-hover-card);
}

@media (min-width: 600px) {
  .button {
    height: 70px;
    font-size: 1.3rem;
    aspect-ratio: 2/1;
  }
}