.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  flex-grow: 1;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
}

.homeButton:hover, .button:hover {
  border-color: var(--color-hover-card);
  color: var(--color-hover-card);
}

.button {
  padding: 10px;
  margin: 5px;
}

.homeButton {
  height: 130px;
  margin-bottom: 30px;
  aspect-ratio: 2/1;
}

.homeButton,.button {
  cursor: pointer;
  border-radius: 31px;
  background-color: var(--background-site-button);
  border-color: var(--background-site-button);
  color: var(--main-text-color);
  font-weight: bold;
}

.active {
  border-color: var(--color-hover-card);
}

.standingButtonsContainer {
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .button {
    height: 70px;
    font-size: 1.3rem;
    aspect-ratio: 2/1;
  }
}