.container {
  display: flex;
  min-height: 35px;
  height: 100%; 
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.openCloseMenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	right: 20px;
	top: 0;
	height: 35px;
	width: 35px;
	z-index: 2;
}

.navigation {
	height: 100%;
	width: 100%;
}

.menu {
  list-style: none;
  width: 100%;
  transform: translate(100%);
  transition: all 0.5s ease-in;
  position: absolute;
  height: 100%;
	color: var(--main-text-color);
  z-index: 1;
  padding-top: 10px;
}

.menu li {
  margin: 10px;
  font-size: 1.2rem;
}

.menu li:last-child {
	margin-bottom: 0
}

.menu li:hover {
	color: var(--color-hover-card);
}

.line1,.line2,.line3 {
  position: absolute;
  display: block;
  border: 1px solid var(--main-text-color);
  width: 100%;
  transition: all ease-in;
}

.line1 {
  transform: translateY(-10px);
}

.line2.active {
	opacity: 0;
}

.line3 {
  transform: translateY(10px);
}

.line1.active {
  transform: rotate(-135deg);
}

.active {
  transform: translateY(0px) translateX(0)
}

.line3.active {
	transform: rotate(135deg);
}

@media (min-width: 600px) {
	.menu {
		display: flex;
		justify-content: space-around;
    background-color: var(--background-site);
    
	}
  .line1.active, .line3.active {
    border-color: var(--main-text-color);
  }
  .menu li {
    color: var(--main-text-color);
  }

  .openCloseMenu {
    display: none;
  }

  .menu{transform: translate(0);}
}

@media (min-width: 800px) {
	.menu li {
		font-size: 1.4rem;
	}
}
